<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% import 'macros.html' as macros %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Nordra</title>

<!-- meta -->
<meta name="description" content="Nordra Music" />
<meta content="..." property="og:image"/>
<meta name="keywords" content="nordra music band seattle monika khot" />
<meta name="author" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta property="og:title" content="Nordra"/>
<meta property="og:type" content="music"/>
<meta property="og:url" content="http://www.nordra.net"/>
<meta property="og:site_name" content="Nordra"/>
<meta property="og:description" content="nordra militant ambient industrial music"/>
<!-- /meta -->

<!-- styles -->
<link rel="image_src" href="/static/img/nordra_jacket_ss.png" />
<link type="text/css" rel="stylesheet" href="/static/css/font-awesome-4.1.0.min.css" />
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap-3.1.1.min.css">
<link type="text/css" rel="stylesheet" href="/static/css/bootstrap-theme-3.1.1.min.css" />
<link type="text/css" rel="stylesheet" href="/static/css/layout.main.css" />
<link type="text/css" rel="stylesheet" href="/static/css/main.css" />
<link type="text/css" rel="stylesheet" href="/static/css/main.responsive.css" />
<link type="text/css" rel="stylesheet" href="/static/css/main.quickfix.css" />
<!-- /styles -->

<!-- favicons -->
<link rel="shortcut icon" href="http://www.cameronsworld.net/img/content/2/28.gif">
<!-- /favicons -->

<!-- scripts -->
<script src="/static/js/libs/modernizr-2.8.2.min.js"></script>
<!--[if lt IE 9]><script src="/static/js/libs/respond-1.4.2.min.js"></script><![endif]-->
<!-- /scripts -->

</head>
<header style="display: none;">nordra music band seattle monika khot</header>
<body>

  <!-- Wrap all page content here -->
  <div id="wrap">


    <!-- Begin page content -->
    <main id="content" role="main" class="container-fluid">
      <div class="hidden-xs" style="height: 30px;"></div>
      <!-- Container for macro content -->
      <div class="row">
        <div class="col-md-offset-1 col-md-10">
          <div style="position: relative;">
            <h1 class="canterbury" style="color: #000000; font-weight: 500; letter-spacing: 11.4px; font-size: 60px;">NORDRA</h1>
            <h1 class="canterbury" style="color: #000000; font-weight: 500; letter-spacing: 11.4px; font-size: 60px; position: absolute; top: -19px; left: 4px;">NORDRA
	    <div style="display: inherit; font-size: 12px; text-align: right;">
	      <a href="{{ url_for('consume') }}">consume</a>/<a href="{{ url_for('cv') }}">cv</a>
	      <br>
	      <a href="https://soundcloud.com/nordra" target="_blank" style="font-family: Times New Roman; font-weight: 700; letter-spacing: 1.5px;">SOUNDCLOUD</a>
	    </div>
	    </h1>
          </div>
	  <br>
	  <div class="row">
	    <div class="col-sm-6">
	      <img style="width: 100%; max-width: 400px;" src="/static/img/nordra_poster_just_face.png" />
	      <p style="font-size: 11px;">painting by Faith Coloccia</p>
	    </div>
	    <div class="col-sm-6">
	      <br>
	      <p>European March 2018 Tour</p>
	      3.15 - Milano, IT @ <a
	      href="http://www.santeria.milano.it/toscana/evento/nordra-vespertina/"
	      target="_blank">Santeria Social Club</a>
	      <br>
	      3.16 - Busto Arsizio, IT @ <a
	      href="http://www.circologagarin.it/gagarin2/it/eventi/nordra-us-vespertina.html"
	      target="_blank">Circolo Gagarin</a>
	      <br>
	      3.17 - Pistoia, IT @ <a href="http://www.brumafest.it/event.html"
	      target="_blank">BRUMA @ S. Michele al Cioncio</a>
	      <br>
	      3.18 - Treviso, IT @ <a href="https://www.facebook.com/events/2051163398500910/"
	      target="_blank">Punky Reggae Pub</a>
	      <br>
	      3.19 - Ljugljana, SLO @ <a href="javascript:void(0);"
	      target="_blank">Hostel Tresor</a>
	      <br>
	      3.20 - Budapest, HUN @ <a href="https://www.facebook.com/events/1981546122168232/"
	      target="_blank">Robot</a>
	      <br>
	      3.21 - Bratislava, SLK @ <a href="https://www.facebook.com/events/1656159934473337/"
	      target="_blank">Fuga</a>
	      <br>
	      3.22 - Brno, CZ @ <a href="https://www.facebook.com/events/147920579222349/" target="_blank">Herna</a>
	      <br>
	      3.23 - Prague, CZ @ <a href="https://www.facebook.com/events/1279930892127709/" target="_blank">Žižkowská Non Festival</a>
	      <br>
	      3.24 - Chemnitz, GER @ <a
	      href="https://www.facebook.com/events/1993287380922189/" target="_blank">Odradek</a>
	      <br>
	      3.25 - Leipzig, GER @ <a
	      href="https://www.facebook.com/events/181791075761669/" target="_blank">Unterholz</a>
	      <br>
	      3.26 - Bamberg, GER @ <a
	      href="https://www.facebook.com/events/2007183642857130/" target="_blank">Pizzini</a>
	      <br>
	      3.27 - Verona, IT @ <a href="https://www.facebook.com/events/302149240240634/" target="_blank">Malacarne Barassociazione</a>
	      <br>
	      <br>
	    </div>
	  </div>

          <div class="hidden-xs" style="height: 20px;"></div>
          <div class="hidden-xs" style="height: 20px;"></div>
          <div class="row">
            <div class="col-xs-12 text-center">
	      <iframe style="border: 0;" width="300" height="300" src="https://bandcamp.com/EmbeddedPlayer/album=1202380392/size=large/bgcol=333333/linkcol=ffffff/minimal=true/transparent=true/" seamless><a href="http://sigerecords.bandcamp.com/album/nordra">Nordra by Nordra</a></iframe>
	      <p>
	      <p>
            </div>
            <div class="col-sm-6 col-md-5 col-lg-4 text-center">
              <iframe style="border: 0;" width="300" height="300" src="https://bandcamp.com/EmbeddedPlayer/album=188686871/size=large/bgcol=333333/linkcol=ffffff/minimal=true/transparent=true/" seamless><a href="http://nordra.bandcamp.com/album/pylon-ii">PYLON II by Nordra</a></iframe>
	      <p>
	      <p>
            </div>
          </div>

          <div class="hidden-xs" style="height: 60px;"></div>
          <div class="visible-xs" style="height: 10px;"></div>
          <small>Nordra booking, scoring inquiries: magickmuther(at)gmail(dot)com</small>
          <br>
          <small>Zen Mother booking: magiczenmother(at)gmail(dot)com</small>
          <div style="height: 40px;"></div>
          <small>S/T LP/Digital out on <a href="http://sige.bigcartel.com/product/nordra-s-t-lp"
	  target="_blank">SIGE Records</a>.</small><br>
          <small>PYLON II LP/Digital out on <a href="http://sige.bigcartel.com/product/nordra-s-t-lp" target="_blank">SIGE Records</a>.</small>
          <div style="height: 40px;"></div>

          <!-- email list -->
          <strong style="font-size: 14px; font-family: 'Canterbury';">JOIN EMAIL LIST</strong>
          <form class="form-inline" action="{{ url_for('signup_post') }}" method="post">
            <div class="form-group">
              <label class="hide" for="email">Email</label>
              <input id="email" type="email" name="email" class="form-control" placeholder="email address" style="border-radius: 0; width: 230px; font-size: 12px;">
            </div>
            <button type="submit" class="btn" style="font-size: 12px; font-weight: 700;
	    letter-spacing: 0.5px;">SUBMIT</button>
          </form>

          {% block content %}
          {% endblock %}
        </div>

        <! -- Globe -->
        <div style="bottom: 0; right: 0; position: fixed;">
          <img src="http://www.cameronsworld.net/img/content/2/28.gif"/>
        </div>
      <div>
      
    </main>

  </div>

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script type="text/javascript" src="/static/js/libs/jquery-1.11.1.min.js"><\/script>')</script>
  <script type="text/javascript" src="/static/js/libs/bootstrap-3.1.1.min.js" defer></script>
  <script type="text/javascript" src="/static/js/plugins.js" defer></script>
  <script type="text/javascript" src="/static/js/script.js" defer></script>
  <script type="text/javascript">
    (function($) {
      $('.nav a').click(function() {
        $('#music-section, #updates-section, #contact-section').css('display', 'none');
        $($(this).data('target')).css('display', 'block');
      });
    })(jQuery);
  </script>
  <!-- Google Analytics - Change UA-XXXXX-X to be your site's ID -->
  <script>
  window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
  Modernizr.load({
    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
  });
  </script>
  <script type="application/ld+json">
    {
      "@context" : "http://schema.org",
      "@type" : "MusicGroup",
      "name" : "Nordra",
      "url" : "http://www.nordra.net",
      "image" : "https://i1.sndcdn.com/avatars-000292015676-0ml00b-t500x500.jpg",
      "sameAs" : [
	"https://www.youtube.com/channel/UC-FU4cUhaYuvteuFDc68P7A",
	"https://soundcloud.com/nordra",
	"http://www.nordra.bandcamp.com"
      ]
    }
  </script>
</body>
</html>
