{% macro display_show(show) -%}
  {% set date = show.start.date.split('-') %}
  {{date[1]}}.{{date[2]}} - {{show.location.city[:-4]}} @ <a
  href="{{show.uri}}"
  target="_blank">{{show.venue.displayName}}</a>
  <br>
{%- endmacro %}

{% macro tour_listing(title, artist, dates, img) -%}
  <div class="row text-left">
    <div class="col-sm-12 col-md-2">
      <h2 style="font-style: italic; font-size: 18px; font-weight: 700;"></h2>
    </div>
    <div class="col-sm-12 col-md-6">
      <img src="/static/img/{{img}}" style="width: 100%;"> </img>
    </div>
    <div class="col-sm-12 col-md-4">
      <br>
      <p>
	{{ title }}
	<br>
	{{ artist }}
	<br>
	{% for date in dates %}
	  <br>
	  {{ date }}
	{% endfor %}
      </p>
    </div>
  </div>
  <br>
{%- endmacro %}

{% macro consume() -%}
  <!-- Projects -->
  <div class="row text-left">
    <div class="col-sm-12 col-md-2">
      <h2 style="font-style: italic; font-size: 18px; font-weight: 700;">COME DIVENTARE UN
      PARTIGIANO</h2>
    </div>
    <div class="col-sm-12 col-md-6">
      <img src="/static/img/partigiano.png" style="width: 100%;"> </img>
    </div>
    <div class="col-sm-12 col-md-4">
      <br>
      <p>Composed a 5 hour score to Come Diventare Un Partigiano--an immersive durational
      performance by Alice Gosti, inspired by the Italian Partisan movement that during WWII
      liberated Italy from the Nazi-Fascist. In the specific the piece looks at the
      invisibility and visibility of women in history and in contemporary time. The event was
      held at the CAOS Museum in Terni, Italy. The music was composed in a week in the museum. Photo by Absalom Shantz. June 2018.
      <br>
      Listen <a href="https://nordra.bandcamp.com/album/come-diventare-un-partigiano" target="_blank">here</a>.
    </div>
  </div>
  <br>

  <div class="row text-left">
    <div class="col-sm-12 col-md-2">
      <h2 style="font-style: italic; font-size: 18px; font-weight: 700;">PYLON III</h2>
    </div>
    <div class="col-sm-12 col-md-6">
      <img src="/static/img/pyloniii.png" style="width: 100%;"> </img>
    </div>
    <div class="col-sm-12 col-md-4">
      <br>
      <p>Score to PYLON III--the final work in a trilogy of full-length dance performances
      choreographed by Coleman Pester. The PYLON series examines complex systems of control
      and a journey towards utopia, using highly physical choreography, architectural set
      pieces, and a variety of analog and digital technologies altogether in a tense relationship. January 2018.</p>
    </div>
  </div>
  <br>

  <div class="row text-left">
    <div class="col-sm-12 col-md-2">
      <h2 style="font-style: italic; font-size: 18px; font-weight: 700;">JODOROWSKY'S THE HOLY
      MOUNTAIN RE-SCORE</h2>
    </div>
    <div class="col-sm-12 col-md-6">
      <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/400298574&amp;color=%23dc2c2e&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
    </div>
    <div class="col-sm-12 col-md-4">
      <br>
      <p>A commissioned live score for Jodorowsky's The Holy Mountain for the Puget Soundtrack
      Residency, a Cue Northwest project in partnership with Brick Lane Records and Northwest
      Film Forum. Composed and recorded by Monika Khot and Adam Wolcott Smith. Mixed by
      Randall Dunn at Avast Recording in Seattle. Piece 15 of 32. August 2017.</p>
    </div>
  </div>
  <br>

  <div class="row text-left">
    <div class="col-sm-12 col-md-2">
      <h2 style="font-style: italic; font-size: 18px; font-weight: 700;">PYLON II</h2>
    </div>
    <div class="col-sm-12 col-md-6">
      <iframe height="315" src="https://www.youtube.com/embed/XVbN-YTI5Go?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" style="width: 100%;" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col-sm-12 col-md-4">
      <br>
       <p>Score to PYLON II--explores themes of systematic fear and control placed on human
       bodies operating within a quagmire of technological systems essential to modern
       society (i.e. surveillance, the internet, architectural design). PYLON II incorporates
       live surveillance feeds to explore questions of observation and consent. Audiences
       for PYLON II enter into an immersive environment featuring, a cast of five dancers
	 engaged in highly physical choreographed movement, a live sound score, and a complex
	 surveillance system which is simultaneously recording and projecting visual information coming from cameras throughout the space.". October 2016.
      <br>
      Listen <a href="https://nordra.bandcamp.com/album/pylon-ii" target="_blank">here</a>.</p>
    </div>
  </div>
  <br>

  <div class="row text-left">
    <div class="col-sm-12 col-md-2">
      <h2 style="font-style: italic; font-size: 18px; font-weight: 700;">BICYCLE WHEELS</h2>
    </div>
    <div class="col-sm-12 col-md-6">
      <iframe src="https://player.vimeo.com/video/250366612?title=0&byline=0&portrait=0" width="100%" height="640"
      frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="col-sm-12 col-md-4">
      <br>
      <p>Bicycle wheel instrument used live and made to act like a tremolo by spinning the wheel
      in-between a photoresistor and a bright light.</p>
    </div>
  </div>
  <br>

  <div class="row text-left">
    <div class="col-sm-12 col-md-2">
      <h2 style="font-style: italic; font-size: 18px; font-weight: 700;">SOLIPSISTIC SINES</h2>
    </div>
    <div class="col-sm-12 col-md-6">
      <iframe src="https://player.vimeo.com/video/152095899?title=0&byline=0&portrait=0" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="col-sm-12 col-md-4">
      <br>
      <p>Score to experimental short 'Nineteen 96 Ounces' by Mariel Andersen, first performed by a
      Computer Music Ensemble as part of Digitalis 2014, using a graphical score and a Max-MSP patch
      built for the performers.</p>
    </div>
  </div>
  <br>

  <div class="row text-left">
    <div class="col-sm-12 col-md-2">
      <h2 style="font-style: italic; font-size: 18px; font-weight: 700;"></h2>
    </div>
    <div class="col-sm-12 col-md-6">
      <iframe src="https://player.vimeo.com/video/230537722?title=0&byline=0&portrait=0" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="col-sm-12 col-md-4">
      <br>
    </div>
  </div>
  <br>

  <div class="row text-left">
    <div class="col-sm-12 col-md-2">
      <h2 style="font-style: italic; font-size: 18px; font-weight: 700;"></h2>
    </div>
    <div class="col-sm-12 col-md-6">
      <iframe src="https://player.vimeo.com/video/255816466?title=0&byline=0&portrait=0" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="col-sm-12 col-md-4">
      <br>
      <p>Opening audio for PYLON III--Video and visuals by Alexander Boschenstein.</p>
    </div>
  </div>
  <br>

  <!-- Tour Listings -->
  {% set dates = ['May 16 The Sunset, Seattle, WA ',
		  'May 17 Alternative Library, Bellingham, WA ',
		  'May 18 Hobbit Hole, Olympia, WA ',
		  'May 19 Beacon Sound, Portland, OR ',
		  'May 20 Sam Bonds Garage, Eugene, OR ',
		  'May 21 Dildo Factory, Berkeley, CA ',
		  'May 22 CNMAT, Berkeley, CA ',
		  'May 23 Blue Lamp, Sacramento, CA ',
		  'May 24 Rec Center, Los Angeles, CA ',
		  'May 25 The Monty, Los Angeles, CA '
		  ] %}
  {{ tour_listing('Capitalist Noize Tour 2018', 'Nordra, Skerik', dates, 'SkerikNordra.jpg') }}

  {% set dates = ['4/22 Ningbo CN, Timeline',
		  '4/23 Hangzhou CN, 9 Club',
		  '4/24 Wuhan CN, Coastline',
		  '4/25 Shanghai CN, MAO Live House',
		  '4/26 Suzhou CN, Locke Pub'] %}
  {{ tour_listing('China Spring 2018', 'Zen Mother', dates, 'zm_china.jpg') }}

  {% set dates = ['15/3 IT Milano, Santeria Social Club',
		  '16/3 IT Busto Arsizio, Circolo Gagarin',
		  '17/3 IT Pistoia, BRUMA @ S. Michele al Cioncio',
		  '18/3 IT Treviso, Punky Reggae Pub',
		  '19/3 SLO Ljubljana, Hostel Tresor',
		  '20/3 HUN Budapest, Robot',
		  '21/3 SLK Bratislava, Fuga',
		  '22/3 CZ Brno, Herna',
		  '23/3 CZ Prague, Žižkowská Non Festival',
		  '24/3 GER Chemnitz, Odradek',
		  '25/3 GER Leipzig, Unterholz',
		  '26/3 GER Bamberg, Pizzini',
		  '27/3 IT Verona, Malacarne Barassociazione'] %}
  {{ tour_listing('Europe Spring 2018', 'Nordra', dates, 'nordra_euro2.jpg') }}

  {% set dates = [
		  "7/12 - Boise, ID - Neurolux",
		  "7/13 - Salt Lake City, UT - Diabolical Records",
		  "7/14 - Denver, CO - Thee Haus Ov Where?",
		  "7/15 - Wichita, KS - Wichita Psych Fest",
		  "7/16 - Lawrence, KS - Replay Lounge",
		  "7/17 - St Louis, MO - Foam",
		  "7/18 - Chicago, IL - The Hideout",
		  "7/19 - Detroit, MI - Trixie’s",
		  "7/20 - Toronto, ON - Baby G’s",
		  "7/21 - Montreal, QC - The B.O.G",
		  "7/22 - Providence, RI - Machines With Magnets",
		  "7/23 - Brooklyn, NY - Silent Barn",
		  "7/26 - Charlottesville, VA - The Southern",
		  "7/27 - Richmond, VA - Strange Matter",
		  "7/28 - Raleigh, NC - King’s",
		  "7/29 - Boone, NC - Six Fortyone",
		  "7/30 - Atlanta, GA - 360 Cantina",
		  "7/31 - New Orleans - Circle Bar",
		  "8/1 - Austin, TX - Hotel Vegas",
		  "8/3 - Maria, TX - The Capri",
		  "8/4 - Bisbee, AZ - The Quarry",
		  "8/5 - Tucson, AZ - Club Congress",
		  "8/6 - Phoenix, AZ - Lunchbox",
		  "8/7 - Joshua Tree, CA - Taylor Junction",
		  "8/8 - Los Angeles, CA - The Bootleg Theater",
		  "8/9 - Santa Cruz - The Crepe Place",
		  "8/10 - San Francisco, CA - El Rio",
		  "8/11 - Oakland, CA - Eli's Mile High Club",
		  "8/13 - Portland, OR - The Know",
		  "8/14 - Bellingham, WA - The Shakedown",
		  "8/15 - Seattle, WA - The Sunset Tavern",
		  ] %}
  {{ tour_listing('US/Canada Summer 2017', 'Zen Mother', dates, 'zentour.jpg') }}

  {% set dates = [
		  "5.24 - Riga, Latvia @ Aleponija ",
		  "5.25 - Oslo, Norway @ Maksitaksi ",
		  "5.26 - Mechelen, Belgium @ In Utero Festival ",
		  "5.27 - Prague, Czech Republic @ MeetFactory w/ WAND ",
		  "5.28 - Leipzig, Germany @ AKKO",
		  "5.27 - Vienna, Austria @ AU",
		  "5.30 - Milan, Italy @ Santeria Paladini 8",
		  "5.31 - Verona, Italy @ Malacarne Barassociazione ",
		  "6.5 - Paris, France @ Mecanique Ondulatoire w/ WAND",
		  ] %}
  {{ tour_listing('Europe Spring 2017', 'Nordra', dates, 'nordra_euro1.jpg') }}

  {% set dates = [
		  "Aug. 5 – Portsmouth, NH – 3S Artspace",
		  "Aug. 6 – Montreal, QC – Bar Le Ritz PDB",
		  "Aug. 7 – Toronto, ON – The Garrison",
		  "Aug. 8 – Detroit, MI – El Club",
		  "Aug. 9 – Chicago, IL – Township",
		  "Aug. 11 – Columbus, OH – Double Happiness",
		  "Aug. 12 – Nashville, TN – The End",
		  "Aug. 14 – Durham, NC – The Pinhook",
		  "Aug. 15 – Richmond, VA – Strange Matter",
		  "Aug. 16 – Washington, DC – DC9 Nightclub",
		  "Aug. 18 – Brooklyn, NY – Saint Vitus Bar",
		  "Aug. 19 – Philadelphia, PA – Boot & Saddle",
		  "Aug. 20 – Allston, MA – Great Scott",
		  ] %}
  {{ tour_listing('Summer 2016', 'SUMAC, Jaye Jayle/Jon Mueller, Nordra', dates, 'sumac.jpg') }}

  <!-- Discography -->

{%- endmacro %}
