{% macro music() -%}
  <div class="row">
    <div class="col-sm-5">
      <iframe style="border: 0;" src="https://bandcamp.com/EmbeddedPlayer/track=3028174152/size=large/bgcol=333333/linkcol=ffffff/minimal=true/transparent=true/" seamless><a href="http://nordra.bandcamp.com/track/apologize-to-me-humanity">Apologize To Me, Humanity by Nordra</a></iframe>
    </div>
    <div class="col-sm-5">
      <iframe style="border: 0; width: 350px; height: 350px;" src="https://bandcamp.com/EmbeddedPlayer/album=188686871/size=large/bgcol=333333/linkcol=ffffff/minimal=true/transparent=true/" seamless><a href="http://nordra.bandcamp.com/album/pylon-ii">PYLON II by Nordra</a></iframe>
    </div>
  </div>
{%- endmacro %}

{% macro updates(posts, upcoming_shows, past_shows) -%}
  {% if config.MONI %}
  {% endif %}
  {% set post = {'created_at': 'July 23, 2017', 'content': 'SIGE Records is going to be putting out the first Nordra record entitled: Make a Smooth Path From Point to Point.  Spring 2017 is the expected release time. Join the email list to get more updates on the new record.  Make a Smooth Path From Point to Point is about the conversion from analog to digital, what is lost, and what is gained, and how accurate communication or rather the lack thereof can be cripplingly depressing. Like most cripplingly depressing subjects, a glow or sense of relief follows.', 'images': [{'src': 'static/img/saint_vitus.png', 'desc': 'Nordra at Saint Vitus - SUMAC, Jaye Jayle tour, Aug 2016'}]} %}
  {% set posts = [post] %}

  {% set upcoming_shows =  upcoming_shows.resultsPage.results.event %}
  {% set past_shows =  past_shows.resultsPage.results.event %}
  <div class="row">
    <div class="col-sm-6">
      {% for post in posts %}
        {{ _display_post(post) }}
      {% endfor %}
    </div>
    <div class="col-sm-6" style="background-color: rgba(128, 128, 128, 0.5); padding-top: 10px; padding-bottom: 10px;">
      <div style="font-style: italic; margin-bottom: 20px; font-weight: 700;">UPCOMING EVENTS</div>
      {% for show in upcoming_shows %}
        {{ _display_show(show) }}
      {% endfor %}
      <br><br>

      <div style="font-style: italic; margin-bottom: 20px; font-weight: 700;">PAST EVENTS</div>
      {% for show in past_shows %}
        {{ _display_show(show) }}
      {% endfor %}
    </div>
  </div>
{%- endmacro %}

{% macro contact() -%}
  <strong>NORDRA BOOKING AND FILM SCORE INQUIRIES:</strong>
  <br>magickmuther@gmail.com<br>
  <br>
  <strong>ZEN MOTHER BOOKING: </strong>
  <br>magiczenmother@gmail.com<br>
{%- endmacro %}

{% macro _display_post(post) -%}
  {% for image in post.images %}
    <img src="{{ image.src }}" alt="{{ image.desc }}" style="max-width: 100%;"/>
  {% endfor %}
  <br>
  {% if False %}
  <div style="margin-top: 10px;">{{ post.content | safe }}</div>
  {% endif %}
  <div style="margin-top: 10px;">{{ '' }}</div>
{%- endmacro %}

{% macro _display_show(show) -%}
  <div style="margin-bottom: 10px;">
    {% set date = show.start.date.split('-') %}
    <span style="font-weight: 700;">
      {% for performance in show.performance %}
        {{ performance.artist.displayName }}{{ ',' if not loop.last }}
      {% endfor %}
    </span><br>
    {{ date[1] }}/{{ date[2] }}<br>
    {{ show.venue.displayName }}<br>
    {{ show.location.city[:-4] }}<br>
  </div>
{%- endmacro %}

{% macro content() -%}
  <iframe width="640" height="360"
  src="https://www.youtube.com/embed/kEQOtW_IpsU?rel=0&amp;controls=0&amp;showinfo=0"
  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

  <iframe style="border: 0; width: 640px; height: 640px;"
  src="https://bandcamp.com/EmbeddedPlayer/album=2949177090/size=large/bgcol=333333/linkcol=ffffff/minimal=true/transparent=true/"
  seamless><a href="http://nordra.bandcamp.com/album/nordra">Nordra by Nordra</a></iframe>

  <iframe src="https://player.vimeo.com/video/255816466?title=0&byline=0&portrait=0" width="640" height="360"
  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

  <iframe src="https://player.vimeo.com/video/196669696?title=0&byline=0&portrait=0" width="640" height="360"
  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

  <iframe src="https://player.vimeo.com/video/205434183?title=0&byline=0&portrait=0" width="640" height="360"
  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

  <iframe style="border: 0; width: 640px; height: 640px;"
  src="https://bandcamp.com/EmbeddedPlayer/album=188686871/size=large/bgcol=333333/linkcol=ffffff/minimal=true/transparent=true/"
  seamless><a href="http://nordra.bandcamp.com/album/pylon-ii">PYLON II by Nordra</a></iframe>

  <iframe src="https://player.vimeo.com/video/229412703?title=0&byline=0&portrait=0" width="640" height="360"
  frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

  <iframe style="border: 0; width: 640px; height: 640px;"
  src="https://bandcamp.com/EmbeddedPlayer/album=1194547090/size=large/bgcol=333333/linkcol=ffffff/minimal=true/transparent=true/"
  seamless><a href="http://zenmother.bandcamp.com/album/i-was-made-to-be-like-her">I Was
  Made To Be Like Her by Zen Mother</a></iframe>

  <iframe src="https://player.vimeo.com/video/152095899?title=0&byline=0&portrait=0" width="640"
  height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

  <iframe style="border: 0; width: 640px; height: 640px;"
  src="https://bandcamp.com/EmbeddedPlayer/album=3139629884/size=large/bgcol=333333/linkcol=ffffff/minimal=true/transparent=true/"
  seamless><a href="http://zenmother.bandcamp.com/album/the-great-mother">The Great Mother
  by Zen Mother</a></iframe>

  <iframe width="640" height="360"
  src="https://www.youtube.com/embed/mrnvwD9q4IE?rel=0&amp;controls=0&amp;showinfo=0"
  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
{%- endmacro %}

{% macro consume() -%}
  <div class="row text-left">
    <div class="col-sm-12 col-md-2">
      <h2 style="font-style: italic; font-size: 18px; font-weight: 700;">PYLON III</h2>
    </div>
    <div class="col-sm-12 col-md-6">
      <img src="/static/img/pyloniii.png" style="width: 100%;"> </img>
    </div>
    <div class="col-sm-12 col-md-4">
      <br>
      <p>Score to PYLON III--the final work in a trilogy of full-length dance performances choreographed by Coleman Pester. The PYLON series examines complex systems of control and a journey towards utopia, using highly physical choreography, architectural set pieces, and a variety of analog and digital technologies altogether in a tense relationship.</p>
    </div>
  </div>
  <br>

  <div class="row text-left">
    <div class="col-sm-12 col-md-2">
      <h2 style="font-style: italic; font-size: 18px; font-weight: 700;">JODOROWSKY'S THE HOLY
      MOUNTAIN RE-SCORE</h2>
    </div>
    <div class="col-sm-12 col-md-6">
      <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/400298574&amp;color=%23dc2c2e&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
    </div>
    <div class="col-sm-12 col-md-4">
      <br>
      <p>A commissioned live score for Jodorowsky's The Holy Mountain for the Puget Soundtrack
      Residency, a Cue Northwest project in partnership with Brick Lane Records and Northwest
      Film Forum. Composed and recorded by Monika Khot and Adam Wolcott Smith. Mixed by Randall Dunn at Avast Recording in Seattle. Piece 15 of 32.</p>
    </div>
  </div>
  <br>

  <div class="row text-left">
    <div class="col-sm-12 col-md-2">
      <h2 style="font-style: italic; font-size: 18px; font-weight: 700;">PYLON II</h2>
    </div>
    <div class="col-sm-12 col-md-6">
      <iframe height="315" src="https://www.youtube.com/embed/XVbN-YTI5Go?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" style="width: 100%;" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="col-sm-12 col-md-4">
      <br>
       <p>Score to PYLON II--explores themes of systematic fear and control placed on human bodies operating within a quagmire of technological systems essential to modern society (i.e. surveillance, the internet, architectural design). PYLON II incorporates live surveillance feeds to explore questions of observation and consent. Audiences for PYLON II enter into an immersive environment featuring, a cast of five dancers engaged in highly physical choreographed movement, a live sound score, and a complex surveillance system which is simultaneously recording and projecting visual information coming from cameras throughout the space."</p>
    </div>
  </div>
  <br>

  <div class="row text-left">
    <div class="col-sm-12 col-md-2">
      <h2 style="font-style: italic; font-size: 18px; font-weight: 700;">BICYCLE WHEELS</h2>
    </div>
    <div class="col-sm-12 col-md-6">
      <iframe src="https://player.vimeo.com/video/250366612?title=0&byline=0&portrait=0" width="100%" height="640"
      frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="col-sm-12 col-md-4">
      <br>
      <p>Bicycle wheel instrument used live and made to act like a tremolo by spinning the wheel
      in-between a photoresistor and a bright light.</p>
    </div>
  </div>
  <br>

  <div class="row text-left">
    <div class="col-sm-12 col-md-2">
      <h2 style="font-style: italic; font-size: 18px; font-weight: 700;">SOLIPSISTIC SINES</h2>
    </div>
    <div class="col-sm-12 col-md-6">
      <iframe src="https://player.vimeo.com/video/152095899?title=0&byline=0&portrait=0" width="100%" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <div class="col-sm-12 col-md-4">
      <br>
      <p>Score to experimental short 'Nineteen 96 Ounces' by Mariel Andersen, first performed by a
      Computer Music Ensemble as part of Digitalis 2014, using a graphical score and a Max-MSP patch
      built for the performers.</p>
    </div>
  </div>
  <br>

  <div class="row text-left">
    <div class="col-sm-12 col-md-2">
      <h2 style="font-style: italic; font-size: 18px; font-weight: 700;"></h2>
    </div>
    <div class="col-sm-12 col-md-6">
      <img src="/static/img/nordra_euro2.jpg" style="width: 100%;"> </img>
    </div>
    <div class="col-sm-12 col-md-4">
      <br>
      <p>
	Spring 2018
	<br>
	*Nordra
	<br>
	<br>
	15/3 IT Milano, Santeria Social Club
	<br>
	16/3 IT Busto Arsizio, Circolo Gagarin
	<br>
	17/3 IT Pistoia, BRUMA @ S. Michele al Cioncio
	<br>
	18/3 IT Treviso, Punky Reggae Pub
	<br>
	19/3 SLO Ljubljana, Hostel Tresor
	<br>
	20/3 HUN Budapest, Robot
	<br>
	21/3 SLK Bratislava, Fuga
	<br>
	22/3 CZ Brno, Herna
	<br>
	23/3 CZ Prague, Žižkowská Non Festival
	<br>
	24/3 GER Chemnitz, Odradek
	<br>
	25/3 GER Leipzig, Unterholz
	<br>
	26/3 GER Bamberg, Pizzini
	<br>
	27/3 IT Verona, Malacarne Barassociazione
      </p>
    </div>
  </div>
  <br>


  <div class="row text-left">
    <div class="col-sm-12 col-md-2">
      <h2 style="font-style: italic; font-size: 18px; font-weight: 700;"></h2>
    </div>
    <div class="col-sm-12 col-md-6">
      <img src="/static/img/zentour.jpg" style="width: 100%;"> </img>
    </div>
    <div class="col-sm-12 col-md-4">
      <br>
      <p>
	Summer 2017
	<br>
	*Zen Mother (few dates w/ Nu Depth)
	<br>
	<br>
	7/12 - Boise, ID - Neurolux
	<br>
	7/13 - Salt Lake City, UT - Diabolical Records
	<br>
	7/14 - Denver, CO - Thee Haus Ov Where?
	<br>
	7/15 - Wichita, KS - Wichita Psych Fest
	<br>
	7/16 - Lawrence, KS - Replay Lounge
	<br>
	7/17 - St Louis, MO - Foam
	<br>
	7/18 - Chicago, IL - The Hideout
	<br>
	7/19 - Detroit, MI - Trixie’s
	<br>
	7/20 - Toronto, ON - Baby G’s
	<br>
	7/21 - Montreal, QC - The B.O.G
	<br>
	7/22 - Providence, RI - Machines With Magnets
	<br>
	7/23 - Brooklyn, NY - Silent Barn
	<br>
	7/26 - Charlottesville, VA - The Southern
	<br>
	7/27 - Richmond, VA - Strange Matter
	<br>
	7/28 - Raleigh, NC - King’s
	<br>
	7/29 - Boone, NC - Six Fortyone
	<br>
	7/30 - Atlanta, GA - 360 Cantina
	<br>
	7/31 - New Orleans - Circle Bar
	<br>
	8/1 - Austin, TX - Hotel Vegas
	<br>
	8/3 - Maria, TX - The Capri
	<br>
	8/4 - Bisbee, AZ - The Quarry
	<br>
	8/5 - Tucson, AZ - Club Congress
	<br>
	8/6 - Phoenix, AZ - Lunchbox
	<br>
	8/7 - Joshua Tree, CA - Taylor Junction
	<br>
	8/8 - Los Angeles, CA - The Bootleg Theater
	<br>
	8/9 - Santa Cruz - The Crepe Place
	<br>
	8/10 - San , CA - El Rio
	<br>
	8/11 - Oakland, CA - Eli's Mile High Club
	<br>
	8/13 - Portland, OR - The Know
      </p>
    </div>
  </div>
  <br>

  <div class="row text-left">
    <div class="col-sm-12 col-md-2">
      <h2 style="font-style: italic; font-size: 18px; font-weight: 700;"></h2>
    </div>
    <div class="col-sm-12 col-md-6">
      <img src="/static/img/nordra_euro1.jpg" style="width: 100%;"> </img>
    </div>
    <div class="col-sm-12 col-md-4">
      <br>
      <p>
	Spring 2017
	<br>
	*Nordra (few dates with WAND)
	<br>
	<br>
	5.24 - Riga, Latvia @ Aleponija 
	<br>
	5.25 - Oslo, Norway @ Maksitaksi 
	<br>
	5.26 - Mechelen, Belgium @ In Utero Festival 
	<br>
	5.27 - Prague, Czech Republic @ MeetFactory w/ WAND 
	<br>
	5.28 - Leipzig, Germany @ Akko 
	<br>
	5.29 - Vienna, Austria @ AU 
	<br>
	5.30 - Milan, Italy @ Santeria Paladini 8
	<br>
	5.31 - Verona, Italy @ Malacarne Barassociazione 
	<br>
	6.5 - Paris, France @ secret show w/ WAND
      </p>
    </div>
  </div>
  <br>

  <div class="row text-left">
    <div class="col-sm-12 col-md-2">
      <h2 style="font-style: italic; font-size: 18px; font-weight: 700;"></h2>
    </div>
    <div class="col-sm-12 col-md-6">
      <img src="/static/img/sumac.jpg" style="width: 100%;"> </img>
    </div>
    <div class="col-sm-12 col-md-4">
      <br>
      <p>
	Summer 2016
	<br>
	*SUMAC, Jaye Jayle/Jon Mueller, Nordra 
	<br>
	<br>
	Aug. 5 – Portsmouth, NH – 3S Artspace
	<br>
	Aug. 6 – Montreal, QC – Bar Le Ritz PDB
	<br>
	Aug. 7 – Toronto, ON – The Garrison
	<br>
	Aug. 8 – Detroit, MI – El Club
	<br>
	Aug. 9 – Chicago, IL – Township
	<br>
	Aug. 11 – Columbus, OH – Double Happiness
	<br>
	Aug. 12 – Nashville, TN – The End
	<br>
	Aug. 14 – Durham, NC – The Pinhook
	<br>
	Aug. 15 – Richmond, VA – Strange Matter
	<br>
	Aug. 16 – Washington, DC – DC9 Nightclub
	<br>
	Aug. 18 – Brooklyn, NY – Saint Vitus Bar
	<br>
	Aug. 19 – Philadelphia, PA – Boot & Saddle
	<br>
	Aug. 20 – Allston, MA – Great Scott
      </p>
    </div>
  </div>
  <br>


{%- endmacro %}
