{% import 'macros.html' as macros %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>NORDRA/SKERIK CAPITALIST NOIZE TOUR</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 

  <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
  <link rel="shortcut icon" href="http://www.cameronsworld.net/img/content/2/28.gif">
</head>
<body>
  <div id="overlay" style="height: 100vh; width: 100%;position: absolute;background-color: transparent;display: none;"></div>

  <section class='container'>
    <div class="row">
      <!-- breadcrumbs -->
      <div class="col-xs-12 text-center" style="padding-top: 30px;">
	<a class="link" href="{{ url_for('home') }}" style="float: right;">back</a>
      </div>
      <!-- header -->
      <div class="col-xs-12">
	<strong style="font-size: 20px;">NORDRA/SKERIK CAPITALIST NOIZE TOUR</strong>
	<br>
	<br>
	<img width="80%" src="/static/img/skeriknordra1.jpg"/>
	<div style="position: relative; display: none;">
	  <h1 class="canterbury" style="color: #000000; font-weight: 500; letter-spacing:
	  11.4px; font-size: 60px;">The Skerik Nordra Micro-Tonal Aggression Tour 2018</h1>
	  <h1 class="canterbury" style="color: #000000; font-weight: 500; letter-spacing:
	  11.4px; font-size: 60px; position: absolute; top: -19px; left: 4px;">The Skerik Nordra
	  Micro-Tonal Aggression Tour 2018</h1>
	</div>
	<br>
	<br>
      </div>
      <!-- skerik -->
      <div class="col-xs-4">
	<img width="100%" src="/static/img/skerikdemon.jpg"/>
      </div>
      <div class="col-xs-6">
	<strong>Skerik, DRKWAV (John Medeski, Adam Deitch, Skerik), Critters Buggin, The Dead Kenny G's, SOUND CIPHER (Skerik, Tim Alexander, Timm Mason)</strong>
	<br>
	<br>
	<strong>BIO::</strong>
	<p>Skerik is an American saxophonist from Seattle, Washington. Performing on the tenor and
	baritone saxophone, often with electronics and loops, he is a pioneer in a playing style
	that has been called saxophonics.</p>
	<p>
	  Skerik has toured with:
	  Roger Waters,
	  Fred Wesley,
	  Les Claypool,
	  Critters Buggin,
	  Sadhappy,
	  Beta Popes,
	  Syncopated Taint Septet,
	  Garage a Trois,
	  Stanton Moore,
	  Mike Clark,
	  Headhunters,
	  Robert Walter,
	  Ponga,
	  Wayne Horvitz 4+1 ensemble,
	  Ivan Neville's Dumpstaphunk,
	  Bobby Previte's Coalition of the Willing,
	  New York Composer's Orchestra,
	  Galactic,
	  Tuatara,
	  Mark Eitzel,
	  Jacob Fred Jazz Odyssey,
	  The Dead Kenny G's,
	  Black Frames,
	  Maelstrom Trio,
	  Master Musicians of Jajouka.
	  ILLUMINASTI TRIO,
	  Master Musicians of Bukkake.
	  <br>
	  <br>
	  Skerik has performed/played alongside with, etc with:
	  Mad Season,
	  Medeski Martin & Wood,
	  Primus,
	  Shock G,
	  The Coup,
	  PBS,
	  G. Calvin Weston,
	  Josh Roseman,
	  Shazhad Ismaily,
	  Clyde Stubblefield,
	  Kenny Drew Jr.
	  Melvin Gibbs,
	  Stewart Copeland,
	  Sex Mob,
	  Crack Sabbath,
	  John Scofield,
	  Blotallika,
	  Larry Coryell,
	  Screaming Trees,
	  Squirrel Nut Zippers,
	  Johnny Vidocovich,
	  George Porter Jr.,
	  Funky Meters, 
	  Kenny Wolleson,
	  Benevento/Russo Duo,
	  Leo Nocentelli,
	  Charlie Hunter,
	  Earl Harvin Trio,
	  Jon Brion,
	  My Name,
	  Kirk Joseph,
	  Big Sam,
	  R.E.M.,
	  Warren Haynes,
	  Robert Randolph and the Family Band,
	  The Word,
	  North Mississippi Allstars,
	  James Singleton,
	  Somo-Somo,
	  Remy Ongala,
	  Freestyle Candela,
	  Bheki Mseleku,
	  Aubrey Oaki,
	  Mino Cinelu,
	  Bob Stewart,
	  Bill Ware, 
	  Buckethead,
	  Bernie Worrell,
	  Brain,
	  Dr. Lonnie Smith,
	  Ralph Carney,
	  M.I.R.V.
	  Stone Gossard,
	  Lonnie Marshall,
	  DJ Logic,
	  Nels Cline,
	  Jeff Parker,
	  Get it Gurl, 
	  Bonnie Raitt,
	  Ruth Brown,
	  Howard Tate,
	  Maxi Priest,
	  Steve Berlin,
	  David Hidalgo,
	  Ani DiFranco,
	  Steve Kimock,
	  Corrosion of Conformity,
	  Hella,
	  DJ Olive,
	  Jamaaladeen Tacuma,
	  Ozomatli,
	  Wolves in the Throne Room,
	  Kayo Dot,
	  SUNN O)))),
	  Master Musicians of Bukkake,
	  DJ Riz,
	  Todd Sickafoose,
	  Scott Amendola,
	  Doze Green,
	  WEEN, 
	  Ernest Ranglin,
	  The Meters,
	  Dave Ellis,
	  Yoshida Brothers,
	  Pearl Jam, 
	  Gene Ween,
	  Peter Apfelbaum,
	  Jennifer Hartswick,
	  Zigaboo Modeliste,
	  Soulive,
	  Lettuce,
	  Allen Stone,
	  etc....
	</p>
	<strong>PRESS::</strong>
	<p>"Composed of players bound by an antipathy for genre policing — the saxophonist Skerik, the keyboardist John Medeski and the drummer Adam Deitch — DRKWAV is a delivery system for improv-heavy psychedelic fusions." - <a href="https://www.nytimes.com/2015/02/24/arts/music/reviews-new-albums-from-big-sean-emile-haynie-and-drkwav.html" target="_blank">New York Times</a>
	</p>
	<p>"A Show Made Me Forget About Death for 90 Minutes Last Night. Meet Sound Cipher, the Best Band in Seattle. Possibly." - <a href="https://www.thestranger.com/slog/2017/02/24/24892077/a-show-made-me-forget-about-death-for-90-minutes-last-night-meet-sound-cipher-the-best-band-in-seattle-possibly" target="_blank">Dave Segal</a>
	</p>
	<a class="subtle-link" href="https://www.skerikmusic.com" target="_blank">SkerikMusic.com</a>
	<br>
	<a class="subtle-link" href="https://skerik.bandcamp.com" target="_blank">Skerik Bandcamp</a>
	<br>
	<a class="subtle-link" href="http://crittersbuggin.com" target="_blank">Critters Buggin</a>
	<br>
	<a class="subtle-link" href="https://www.facebook.com/skerik/" target="_blank">Facebook</a>
	<br>
	<a class="subtle-link" href="https://en.wikipedia.org/wiki/Skerik" target="_blank">Wikipedia</a>
      </div>
      <!-- nordra -->
      <div class="col-xs-12">
      <br><Br>
      </div>
      <div class="col-xs-4">
	<img width="100%" src="/static/img/nord11.jpg"/>
      </div>
      <div class="col-xs-6">
	<strong>Nordra, Zen Mother</strong>
	<br>
	<br>
	<strong>BIO BY BRIAN COOK (RUSSIAN CIRCLES / SUMAC)::</strong>
	<p>
	“Pinprick guitar lines, swaths of ethereal brass, sub-bass thuds, the clatter of distorted
	percussion, fever dream lullaby melodies—it can be difficult to discern what sounds we’re
	hearing over the course of Nordra’s eponymous debut given the strange and unorthodox context
	of their combination. And while many tech savvy artists have managed to build strange
	symphonies and texturally curious electronic exercises within the lonely confines of
	user-friendly software, those in-the-box tactics don’t line up with the mission statement of
	Monika Khot, the mastermind behind Nordra. “The record has a lot to do with the loss of
	information from analog to digital conversion, which is then in turn paired with static and
	dynamic thought discrepancies,” Khot says. “I tried to make as many smoothed-over arcs of
	sound as I could all alongside very sequenced, quantized beats—making a path from point to
	point sonically.”
	</p>

	<p>
	If that philosophy seems a bit semantically difficult to untangle, Khot’s conceptual
	approach becomes abundantly clear in the live performances, where deftly crafted on-the-fly
	MPC beats serve as the static foundation to her dynamic compositions constructed out of
	guitar, pocket trumpet, analog synth, handmade electronics, and vocals. The harsh and rigid
	beats that open the album on “Apologize To Me, Humanity” demonstrate the first part of the
	equation; the layered horn drones, aluminum-neck guitar riffs, and beautifully crooked
	closing melody encapsulate the latter half. Across the album’s four hallucinatory tracks, it
	becomes abundantly clear that Khot is a musical mastermind, able to navigate multiple
	stylistic and tonal shifts while nimbly switching between wildly divergent instruments over
	the course of a single song, all while maintaining a singular and cohesive vision.
	</p>

	<p>
	Given the sonic diversity demonstrated on Nordra, it’s not surprising to discover that
	Khot’s musical expertise expands beyond the bounds of her solo project. Raised on classical
	guitar, Khot went electric to experiment with strange hybrids of improvisation, ambient
	music, and psychedelia in the Seattle-based trio Zen Mother. She also recently received a
	grant to re-score Alejandro Jodorowsky’s Holy Mountain, a soundtrack originally composed by
	Don Cherry in collaboration with the director, perhaps the most famous person to employ the
	unorthodox pocket trumpet that saturates so much of Nordra’s open spaces. Fueled by Khot’s
	classical upbringing and current embrace of new horizons, Nordra’s power lies in the
	alternately beguiling and mystifying intersection of traditional musicianship and pioneering
	experimentation.
	</p>

	<p>
	Khot and her Zen Mother musical compatriot Adam Wolcott Smith recorded Nordra in a house in
	Seattle in May of 2016. Several months later, Khot spent several weeks on the road
	performing the album in its entirety while on a summer tour with SUMAC and Jaye Jayle. SIGE
	Records is proud to release the album to the world on vinyl in 2017.”
	</p>


	<strong>PRESS::</strong>
	<p>
	“The imbalance and adventurous attitude still remains, with something twisted always lurking
	just beneath the ground level, and it is that which really connects the dots here. This is
	how Nordra has produced an excellent work of experimental depth and sonic tinkering, while
	including further layers feeling than other of her co-adventurers. 
	8.0 / 10” - <a href="https://www.scenepointblank.com/reviews/nordra/nordra/" target="_blank">Scene Point Blank</a>
	</p>

	<p>
	“For instance, I hear some Amon Tobin, some Boards of Canada, some Haxan Cloak, some Tim
	Hecker in her music, as well as some more abstract thought borrowed by entities like Pan
	Sonic, Autechre, and Alva Noto, and even shards of other bizarre elements borrowed from
	video game music and beyond”
	- <a
	  href="http://www.cvltnation.com/sige-records-quadruple-slaughter-four-staggering-ambient-releases-can-not-miss/" target="_blank">CVLT Nation</a> “SIGE Records releases can not miss”
	</p>

	<p>
	“In addition to her gift of writing vocal hooks, she is a virtuosic guitarist and programmer
	who composes Zen Mother's songs collaboratively with synthesizer player Adam Wolcott Smith.”
	- <a href="https://www.thewire.co.uk/issues/404" target="_blank">The Wire Magazine #404</a>
	</p>

	<a class="subtle-link" href="https://sigerecords.bandcamp.com/album/nordra" target="_blank">SIGE Records LP</a>
	<br>
	<a class="subtle-link" href="{{ url_for('home') }}" target="_blank">Nordra.net</a>
	<br>
	<a class="subtle-link" href="https://nordra.bandcamp.com" target="_blank">Nordra Bandcamp</a>
      </div>
      <div class="col-xs-12" style="padding-top: 10px;">
	<strong>REQUESTS::</strong>
	<ul>
	  <li>secured parking space to unload car/van and safe locked backstage space to store
	      equipment and gear</li>
	  <li>please provide a space with light and a table for vinyl albums, CDs etc in the
	  venue, no payment or percentage are due to promoter or venue owner</li>
	</ul>
      </div>
      <div class="col-xs-12" style="padding-top: 10px;">
	<strong>TECH RIDER/STAGE PLOT::</strong>
	<br>
	<br>
	<div class="text-center">
	  <strong>(NORDRA AND SKERIK SET UP SIDE BY SIDE ON STAGE)</strong>
	  <br>
	  <br>
	  <p>
	    <strong>SKERIK</strong> Stereo XLR out (L/R), announce mic
	  </p>
	  <p>
	    <strong>NORDRA</strong>
	    <br>
	    <img src="/static/img/nordstageplot.jpg"/>
	  </p>
	</div>
	<br>
	<br>
	<img width="80%" src="/static/img/skeriknordrabw.jpg"/>
      </div>
    </div>
  </section>
  <script src='/javascript/bootbox.js'></script>
  <script src='/javascript/common.js'></script>
</body>
</html>
