{% import 'macros.html' as macros %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>nordra consume</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 

  <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
</head>
<body>
  <div id="overlay" style="height: 100vh; width: 100%;position: absolute;background-color: transparent;display: none;"></div>

  <section class='container'>
    <div class="row">
      <div class="col-xs-12 text-center" style="padding-top: 30px;">
	<a class="link" href="{{ url_for('home') }}" style="float: right;">back</a>
	<img src="/static/img/satantic_skerik.jpg"/>
	<img src="/static/img/nord.jpg"/>
      </div>
      <div class="col-xs-12">
	<div style="position: relative;">
	  <h1 class="canterbury" style="color: #000000; font-weight: 500; letter-spacing:
	  11.4px; font-size: 60px;">The Skerik Nordra Micro-Tonal Aggression Tour of 2018</h1>
	  <h1 class="canterbury" style="color: #000000; font-weight: 500; letter-spacing:
	  11.4px; font-size: 60px; position: absolute; top: -19px; left: 4px;">The Skerik Nordra
	  Micro-Tonal Aggression Tour of 2018</h1>
	</div>
      </div>
      <div class="col-xs-12">
	<img src="/static/img/eazy.png"/>
      </div>
    </div>
  </section>
  <script src='/javascript/bootbox.js'></script>
  <script src='/javascript/common.js'></script>
</body>
</html>
